<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MiddleTierApplication.Properties.Settings.ServerentretienlConnectionString"
      connectionString="Data Source=REX-PC\ENTRETIEN;Initial Catalog=entretienl;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MiddleTierApplication.Properties.Settings.CliententretienlConnectionString"
      connectionString="Data Source=C:\Users\rex\Desktop\Entretien\MiddleTierApplication\entretienl.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="MiddleTierApplication.EntretienSyncService" behaviorConfiguration="MiddleTierApplication.EntretienSyncServiceBehavior">
                 <host>
                     <baseAddresses>
                         <add baseAddress ="http://192.168.1.81:8080/EntretienSyncService/"/>
            
          </baseAddresses>
          
        </host>
                 <endpoint address ="" binding="basicHttpBinding" contract="MiddleTierApplication.IEntretienSyncContract"/>
                 <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MiddleTierApplication.EntretienSyncServiceBehavior">
                    <serviceMetadata httpGetEnabled="True" />
                    <serviceDebug includeExceptionDetailInFaults="False" />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
